SeppukuMap/SeppukuMap/Service References/SeppukuService/SeppukuService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://seppuku.pl/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://seppuku.pl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://seppuku.pl/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsApproved" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PasswordHash" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AuthorizatonKey" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateGameState">
        <s:complexType />
      </s:element>
      <s:element name="UpdateGameStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateGameStateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMapModel">
        <s:complexType />
      </s:element>
      <s:element name="GetMapModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMapModelResult" type="tns:MapModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MapModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="tiles" type="tns:ArrayOfTileInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="players" type="tns:ArrayOfOwner" />
          <s:element minOccurs="1" maxOccurs="1" name="rice" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTileInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TileInfo" type="tns:TileInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TileInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ownerId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="numberOfWorkers" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOwner">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Owner" type="tns:Owner" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Owner">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="playerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="playerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="playerColor" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateGameStateSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateGameState" />
  </wsdl:message>
  <wsdl:message name="UpdateGameStateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateGameStateResponse" />
  </wsdl:message>
  <wsdl:message name="GetMapModelSoapIn">
    <wsdl:part name="parameters" element="tns:GetMapModel" />
  </wsdl:message>
  <wsdl:message name="GetMapModelSoapOut">
    <wsdl:part name="parameters" element="tns:GetMapModelResponse" />
  </wsdl:message>
  <wsdl:portType name="SeppukuServiceSoap">
    <wsdl:operation name="GetUsers">
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGameState">
      <wsdl:input message="tns:UpdateGameStateSoapIn" />
      <wsdl:output message="tns:UpdateGameStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMapModel">
      <wsdl:input message="tns:GetMapModelSoapIn" />
      <wsdl:output message="tns:GetMapModelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SeppukuServiceSoap" type="tns:SeppukuServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://seppuku.pl/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGameState">
      <soap:operation soapAction="http://seppuku.pl/UpdateGameState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMapModel">
      <soap:operation soapAction="http://seppuku.pl/GetMapModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SeppukuServiceSoap12" type="tns:SeppukuServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://seppuku.pl/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGameState">
      <soap12:operation soapAction="http://seppuku.pl/UpdateGameState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMapModel">
      <soap12:operation soapAction="http://seppuku.pl/GetMapModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeppukuService">
    <wsdl:port name="SeppukuServiceSoap" binding="tns:SeppukuServiceSoap">
      <soap:address location="http://localhost:1572/SeppukuService.asmx" />
    </wsdl:port>
    <wsdl:port name="SeppukuServiceSoap12" binding="tns:SeppukuServiceSoap12">
      <soap12:address location="http://localhost:1572/SeppukuService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>